<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>SV</th>
            <th>G</th>
            <th>IP</th>
            <th>K/9</th>
            <th>B/9</th>
            <th>HR/9</th>
            <th>BABIP</th>
            <th>ERA</th>
            <th>PlayerID</th>
        </tr>
    </thead>
    <tbody>
        @{
            var pitchers = ViewBag.Pitchers;
            @foreach (var pitcher in pitchers)
            {
                <tr>
                    <td>@pitcher.Name</td>
                    <td>@pitcher.Team</td>
                    <td>@pitcher.W</td>
                    <td>@pitcher.L</td>
                    <td>@pitcher.SV</td>
                    <td>@pitcher.G</td>
                    <td>@pitcher.IP</td>
                    <td>@pitcher.KPer9</td>
                    <td>@pitcher.BallsPer9</td>
                    <td>@pitcher.HRPer9</td>
                    <td>@pitcher.BABIP</td>
                    <td>@pitcher.ERA</td>
                    <td>@pitcher.PlayerID</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>