<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>G</th>
            <th>PA</th>
            <th>HR</th>
            <th>R</th>
            <th>RBI</th>
            <th>SB</th>
            <th>BB%</th>
            <th>K%</th>
            <th>ISO</th>
            <th>BABIP</th>
            <th>AVG</th>
            <th>SLG</th>
            <th>wOBA</th>
            <th>xwOBA</th>
            <th>wRCPlus</th>
            <th>BsR</th>
            <th>Off</th>
            <th>Def</th>
            <th>WAR</th>
            <th>PlayerID</th>
        </tr>
    </thead>
    <tbody>
        @{
            var batters = ViewBag.Batters;
            @foreach (var batter in batters)
            {
                <tr>
                    <td>@batter.Name</td>
                    <td>@batter.G</td>
                    <td>@batter.PA</td>
                    <td>@batter.HR</td>
                    <td>@batter.R</td>
                    <td>@batter.RBI</td>
                    <td>@batter.SB</td>
                    <td>@batter.BBPercentage</td>
                    <td>@batter.KPercentage</td>
                    <td>@batter.ISO</td>
                    <td>@batter.BABIP</td>
                    <td>@batter.AVG</td>
                    <td>@batter.SLG</td>
                    <td>@batter.wOBA</td>
                    <td>@batter.xwOBA</td>
                    <td>@batter.wRCPlus</td>
                    <td>@batter.BsR</td>
                    <td>@batter.Off</td>
                    <td>@batter.Def</td>
                    <td>@batter.WAR</td>
                    <td>@batter.PlayerID</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>